.content{
    padding: 8vh 5vh 0 20vh;
}

table{
    width: 90%;
    border-spacing: 0 10px;
}

.deck-name, td {
    text-align: left;
    color: rgb(0, 94, 218);
    text-decoration: none;
}


.deck-name:hover{
    text-decoration: underline;
}

.total, td{
    color: rgb(0, 94, 218);
}
.new, td{
    color: green;
}
.review, td{
    color: rgb(255, 80, 27);
}
.settings-icon, td{
    color: rgb(0, 94, 218);
}

th{
    color: #737373;
}

td{
    background-color: #c8d1d9;
    text-align: center;
    color: black;
    height: 30px;
}

th, td{
    padding: 10px;
}

.create-deck-button {
    margin-top: 5vh;
    padding: 1vh;
    border-radius: 4px;
    border: 2px solid rgb(0, 94, 218);
    background-color: white;
    color: rgb(0, 94, 218);
    font-size: 20px;
    transition-duration: 0.4s;
}

.create-deck-button:hover{
    background-color: rgb(0, 94, 218);
    color: white;
}